<header class="siteheader">
    <div class="logo">
        <i class='bx bxs-cat logoicon'></i>
        Cat<span class="logopart2">Lovers</span>                
    </div>  
    <nav>
      <ul class="navmenu">
        <li><a class="headeranchor"  routerLink="products" routerLinkActive="active" >Products</a></li>
        <li><a class="headeranchor"  routerLink="about" routerLinkActive="active" >About</a></li>
        <li><a  routerLink="contact" routerLinkActive="active"  class="headeranchor" >Contact</a></li>
      </ul>
    </nav>
  </header>
  
